<html>

<body>
    <h1>Full Cycle Rocks!</h1>
    <table>
        <% for (var i = 0; i < peoples.length; i++) { %>
            <tr>
                <td><%= peoples[i].id %></td>
                <td><%= peoples[i].name %></td>
            </tr>    
        <% } %>
    </table>
</body>

</html>